body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
}

#bg-login {
    background-color: #FFFFCC;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    text-align: center;
}

.box-login {
    width: 300px;
    padding: 40px;
    position: relative;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    box-sizing: border-box;
}

.btn {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #FFD700;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #FFC700;
}

.btn:focus {
    outline: none;
}

